<div class="lg:flex">
    <div class="lg:w-1/2 xl:max-w-screen-sm">
        <div class="py-12 bg-indigo-100 lg:bg-white flex justify-center lg:justify-start lg:px-12">
            <div class="cursor-pointer flex items-center">
                <div>
                   <img src="../../assets/img/logoSolid.png" alt="" class="w-[80px]">
                </div>
                <div class="text-3xl text-[#263F85] tracking-wide ml-2 font-bold">Royal Dirkz Group S.A</div>
            </div>
        </div>
        <div class="mt-4 px-12 sm:px-24 md:px-48 lg:px-12 lg:mt-16 xl:px-24 xl:max-w-2xl flex justify-center flex-col self-center md:h-auto h-[70vh]">
            <h2 class="text-start text-5xl text-[#263F85] font-display font-bold">Log in</h2>
            <div class="mt-12">
                <form>
                    <div>
                        <div class="text-sm font-bold text-gray-700 tracking-wide text-[19px]">Email Address</div>
                        <input class="w-full text-lg py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500" type="" placeholder="johndoe@gmail.com">
                    </div>
                    <div class="mt-8">
                        <div class="flex justify-between items-center">
                            <div class="text-sm font-bold text-gray-700 tracking-wide text-[19px]">
                                Password
                            </div>
                        </div>
                        <input class="w-full text-lg py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500" type="" placeholder="Enter your password">
                    </div>
                    <div class="mt-10">
                        <button class="bg-[#263F85] text-gray-100 p-4 w-full rounded-full tracking-wide
                        font-semibold font-display focus:outline-none focus:shadow-outline hover:bg-indigo-600
                        shadow-lg">
                            Log In
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="hidden lg:flex items-center justify-center bg-[#263F85] flex-1 h-screen">
        <div class="max-w-xs transform duration-200 hover:scale-110 cursor-pointer">
            <img src="../../assets/img/RDG.gif" alt=""
            class="w-[900px]"
            >
        </div>
    </div>
</div>
