<div
  class="w-full h-full flex justify-center items-center flex-row flex-wrap gap-4"
>
  <div
    class="card md:w-[500px] md:h-[200px] w-[380px] h-[200px] relative bg-white overflow-hidden mb-2"
  >
    <div
      class="absolute top-4 md:right-[140px] right-[115px] z-10 md:w-[240px] w-[200px]"
    >
      <span class="md:text-[20px] text-[14px] text-white font-bold"
        >Nahum Andres Mercado Sanchez Sanchez</span
      >
      <div class="py-2">
        <div class="w-full flex justify-between">
          <span class="md:text-[16px] text-[11px] text-yellow-300 font-bold"
            >Fecha de Ingreso:</span
          >
          <span class="md:text-[16px] text-[11px] text-white font-bold"
            >10/05/2021</span
          >
        </div>
        <div class="w-full flex justify-between">
          <span class="md:text-[16px] text-[11px] text-yellow-300 font-bold"
            >Operario:</span
          >
          <span class="md:text-[16px] text-[11px] text-white font-bold"
            >123456789</span
          >
        </div>
        <div class="w-full flex justify-between">
          <span class="md:text-[16px] text-[11px] text-yellow-300 font-bold"
            >Operario:</span
          >
          <span class="md:text-[16px] text-[11px] text-white font-bold"
            >123456789</span
          >
        </div>
        <div class="w-full flex justify-between">
          <span class="md:text-[16px] text-[11px] text-yellow-300 font-bold"
            >Actvio:</span
          >
          <span class="md:text-[16px] text-[11px] text-white font-bold"
            >123456789</span
          >
        </div>
      </div>
    </div>
    <div class="absolute z-10 flex md:gap-6 gap-2 md:right-1 right-[10px]  bottom-4 content_buttons">
      <button
        class="rounded-full p-2  md:mx-2 mx-[2px]"
      >
        <i class="fas fa-edit text-[18px]"></i>
      </button>
      <button class="rounded-full p-2 md:mx-2 mx-[2px]">
        <i class="fas fa-eye text-[18px]"></i>
      </button>
     
    </div>
    <p>Design & Development</p>
    <div class="relative h-full">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/cursosjavascript-f54e8.appspot.com/o/SL-051919-20420-21.jpg?alt=media&token=2a3b5d6a-4104-4376-9ce5-b58ff15d6ec7"
        class="absolute top-0 md:right-28 right-24 h-full object-cover w-full"
        alt=""
      />
      <div
        class="absolute top-0 md:right-28 right-24 h-full w-full bg-black opacity-40"
      ></div>
    </div>

    <div class="w-full absolute md:left-6 left-2 top-4">
      <img
        src="https://avatars.githubusercontent.com/u/71681723?v=4"
        alt="Avatar"
        class="md:w-[70px] md:h-[70px] w-[35px] h-[35px] object-cover bg-white rounded-full"
      />
    </div>
    <div class="w-full absolute left-4 bottom-6">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/cursosjavascript-f54e8.appspot.com/o/logo.png?alt=media&token=d0a134d5-0bbf-417a-a043-ef64626ead9e"
        alt="Avatar"
        class="md:w-[40px] md:h-[40px] w-[30px] h-[30px] object-cover bg-white rounded-full"
      />
    </div>
    <button class="bg-blue-700 overlay_hover"></button>
  </div>
</div>
