<app-sidebar>
  <div class="flex justify-end  bg-[#274392] md:py-2 md:pr-2  p-2 w-[100%] h-full">
   <div class="w-full bg-white rounded-[30px] flex md:p-2 p-2 md:flex-col flex-col h-[97vh] overflow-hidden flex-wrap pt-[50px]">
    <div class="overflow-y-scroll content_scroll">
      <div class="flex justify-start items-center flex-wrap md:flex-col flex-col">
        <app-calendar
          [date]="date"
          [preselectedDates]="preselectedDates"
        ></app-calendar>
        <app-cardmasonry></app-cardmasonry>
      </div>
      <div class="flex md:flex-col flex-col">
        <app-cardfood></app-cardfood>
        <app-cardoperario></app-cardoperario>
      </div>
    </div>
   </div>
  
  </div>
</app-sidebar>

<!-- <div>
  <app-login></app-login>
 </div> -->

