<div class="flex flex-wrap md:w-[90%] mx-auto pt-10 justify-center">
  <ul class="flex flex-wrap m-10 justify-center">
    <li class="w-[350px] md:mx-10 mx-4 md:my-6">
      <section
        class="shadow-lg card relative block h-full overflow-hidden decoration-none"
      >
        <img
          src="https://firebasestorage.googleapis.com/v0/b/clientesimages.appspot.com/o/Paginas%2F63dfe456d655d61575bdc42c%2Fgallery%2FCustom%20Luna%20Garage%20Doors-2023-02-05T17%3A14%3A48.685Z-41.jpg?alt=media&token=634be1f1-889c-4c26-a961-31526219b33b"
          class="w-full h-full object-cover"
          alt="LOGO"
        />
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/React.svg/800px-React.svg.png"
          class="w-[50px] h-[50px] absolute top-0 right-0 m-4 bg-white p-1 rounded-full object-contain border-[3px] border-orange-700"
          alt="LOGO"
        />
        <div
          class="card__overlay absolute bottom-0 left-0 right-0 z-10 bg-white transition ease-in-out duration-300"
        >
          <div
            class="card__header relative flex items-center gap-4 p-6 transform translate-y-[-100%] transition ease-in-out duration-300"
          >
            <svg
              class="card__arc w-[80px] h-[80px] absolute bottom-[100%] right-0 z-10"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path />
            </svg>
            <img
              class="shrink-0 w-[50px] h-[50px] rounded-full"
              src="https://randomuser.me/api/portraits/men/45.jpg"
              alt=""
            />
            <div class="card__header-text">
              <h3 class="text-[18px] font-bold">Jessica Parker</h3>
              <span class="text-[16px] text-gray-400">1 hour ago</span>
            </div>
          </div>
          <div class="mt-[-120px]">
            <p class="p-8 m-0 text-gray-600">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Asperiores, blanditiis? Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Asperiores, blanditiis? Lorem ipsum dolor sit
              amet consectetur adipisicing elit. Asperiores, blanditiis?
            </p>
          </div>
        </div>
      </section>
    </li>
  </ul>
</div>